---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Button from "../components/Button.astro";
import TextInput from "../components/TextInput.astro";
import Checkbox from "@/components/Checkbox.astro";
import CheckboxGroup from "@/components/CheckboxGroup.astro";

const formats = ["png", "jpg", "csv", "txt", "pdf"];
---

<Layout title="Welcome to Astro.">
  <main class="container mx-auto">
    <header class="my-20">
      <h1 class="text-6xl">Puzzle Generator</h1>
      <h2 class="text-xl">Make your own puzzles</h2>
    </header>
    <h3 class="text-3xl mb-4">Lists</h3>
    <div class="flex gap-2 mb-4">
      <Button>Upload Puzzles</Button>
      <Button>Bulk Delete</Button>
    </div>
    <Card class={"max-w-80"}>
      <h3 class="text-xl mb-4">Options</h3>
      <div class="flex flex-col gap-3 mb-4">
        <TextInput label="Font Name" />
        <TextInput label="Header font size" />
        <Checkbox label="Hide borders" />
        <CheckboxGroup label="Format">
          {formats.map((format) => <Checkbox label={format} />)}
        </CheckboxGroup>
      </div>
      <div class="flex flex-col flex-wrap gap-2">
        <Button>Download all puzzles</Button>
        <Button>Download all solutions</Button>
      </div>
    </Card>
  </main>
</Layout>

<style></style>
