---
const { class: classes, link = null } = Astro.props;

const Tag = link ? "a" : "button";
---

<Tag href={link} class="bg-accent rounded" class:list={classes}>
  <div class="py-2 px-3">
    <slot />
  </div>
</Tag>

<style></style>
