---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link
      href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,700;1,700&family=Montserrat:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <title>{title}</title>
  </head>
  <body class="bg-neutral">
    <slot />
  </body>
</html>

<style is:global>
  @tailwind base; /* Preflight will be injected here */
  @tailwind components;
  @tailwind utilities;

  html {
    font-family: Montserrat, system-ui, sans-serif;
    background-size: 224px;
  }

  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: Cabin, sans-serif;
  }

  h1 {
    font-style: italic;
  }
</style>
